<div class="container" >
    <mat-card class="mainHolder">
        <img mat-card-lg-image  src="{{ mission?.links?.mission_patch }}" />
        <mat-card-title-group>
            <mat-card-title>Misson - {{ mission?.mission_name }}</mat-card-title>
            <mat-card-subtitle>
                <div>Name: {{ mission?.mission_name }}</div>
                <div>Launch Year: {{ mission?.launch_year }}</div>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Rocket - {{mission?.rocket?.rocket_name }}</mat-card-title>
            <mat-card-subtitle>
                <div>Name: {{ mission?.rocket?.rocket_name }}</div>
                <div>Type: {{mission?.rocket?.rocket_type }}</div>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-title-group>
            <mat-card-title>Launch Site</mat-card-title>
            <mat-card-subtitle>
                <div>{{ mission?.launch_site?.site_name_long }}</div>
            </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
            <div>
                <div class="titlePosition">Launch Details</div>
                <div class="contentPosition">{{ mission?.details }}</div>
            </div>
            <div>
                <div class="titlePosition">More info on Launch details</div>
                <a href="" mat-stroked-button color="accent" target="_blank" href="{{ mission?.links?.article_link }}">
                    <mat-icon aria-hidden="false" aria-label="insert_drive_file icon">insert_drive_file</mat-icon>
                </a>
                <a style="margin-left: 10px" target="_blank" href="{{ mission?.links?.video_link }}" mat-stroked-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="videocam icon">videocam</mat-icon>
                </a>
                <a style="margin-left: 10px" target="_blank" href="{{ mission?.links?.wikipedia }}" mat-stroked-button color="accent">
                    <mat-icon aria-hidden="false" aria-label="public icon">public</mat-icon>
                </a>
                <mat-card-actions >
                    <a mat-raised-button color="warn" href="/">Return to Misson List</a>
                </mat-card-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>